<section id="banner">
  <div class="content">
    <h3>Task list</h3>
    <div class="table-wrapper">
      <table>
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let task of tasks">
            <td>
              <input type="checkbox">
              <label for="demo-copy"></label>
            </td>
            <td>{{task.title}}</td>
            <td>{{task.start}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-12">
      <ul class="actions">
        <li><a routerLink="/newtask" class="button">New Task</a></li>
      </ul>
    </div>
  </div>
</section>