<section id="banner">
  <div class="content">
    <h3>New Task</h3>
    <form method="post" action="#">
      <div class="row gtr-uniform">
        <div class="col-12">
          <input type="text" name="demo-name" id="demo-name" value="" placeholder="Title" />
        </div>
        <!-- Break -->
        <div class="col-12">
          <textarea name="demo-message" id="demo-message" placeholder="Enter your message" rows="6"></textarea>
        </div>
        <!-- Break -->
        <div class="col-12">
          <ul class="actions">
            <li><input type="submit" value="Add" class="primary" /></li>
          </ul>
        </div>
      </div>
    </form>
  </div>
</section>